# Slices

Given a string s = 'Hello World!', take the slice 'World'

In [1]:
s ="Hello World!"
s[6:len(s)-1]

'World'

Given a list a = list(range(100)), take a slice of it that lists all numbers that are multiple of 5 in reverse order: [95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]

In [2]:
a = list(range(100))
sorted(filter(lambda x: (x % 5) == 0, a), reverse=True)

[95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]

# List sorting

Given a list of numbers, sort them descending in-place

In [3]:
import random
numbers = list(range(25))
sorted(numbers, reverse=True)

[24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

Given a sequence of strings, sort them (case insensitive)

In [4]:
strings = ["Hello", "Cat", "how", "are", "You??"]
sorted(strings, key=str.lower)

['are', 'Cat', 'Hello', 'how', 'You??']

Given a sequence of strings, sort them by last letter

In [1]:
strings = ["Hello", "Cat", "how", "are", "You??"]
sorted(strings, key=lambda x: x[::-1])

['You??', 'are', 'Hello', 'Cat', 'how']

Given a sequence of strings, sort them by length

In [6]:
strings = ["Hello", "Cat", "how", "are", "You??"]
sorted(strings, key=len)

['Cat', 'how', 'are', 'Hello', 'You??']

# List comprehensions

Produce a list of squares of numbers from 0 to 99

In [4]:
number = [x ** 2 for x in range(100)]
number

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

Produce a list of numbers from 0 to 99 that are multiple of 3

In [8]:
numbers = [x for x in range(100) if x % 3 == 0]
numbers

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

Create a new list out of a given list of numbers, which contains only the positive numbers from the list

In [11]:
numbers = [1, -3, 4, 6, 43, -43, 64, 45, 72, -2121, 0, -123]
positive_numbers = [x for x in numbers if x > 0]
positive_numbers

[1, 4, 6, 43, 64, 45, 72]

Given a sentence, produce a list of last letters of every word

In [22]:
sentence = "Hello foo bar what are you doing"
last_letters = [x[len(x)-1:] for x in sentence.split(" ")]
last_letters

['o', 'o', 'r', 't', 'e', 'u', 'g']

Given two lists (a = [a1, a2]; b = [b1, b2, b3]), produce a list of all possible pairs of their elements [(a1, b1), (a1, b2), (a1, b3), (a2, b1), (a2, b2), (a2, b3)]

In [39]:
a = ["a1", "a2"]
b = ["b1", "b2", "b3"]
ab = [(x, y) for x in a for y in b]
ab

[('a1', 'b1'),
 ('a1', 'b2'),
 ('a1', 'b3'),
 ('a2', 'b1'),
 ('a2', 'b2'),
 ('a2', 'b3')]

Build a list of lists of 5 random numbers ranging from 1 to 6

In [42]:
import random
numbers = [[random.randint(1, 6) for x in range(5)]]
numbers

[[2, 6, 5, 5, 6]]

# Dict comprehensions

Map the numbers from 0 to 99 to their cubes

In [45]:
cubes = {x: x**3 for x in range(99)}
cubes

{0: 0,
 1: 1,
 2: 8,
 3: 27,
 4: 64,
 5: 125,
 6: 216,
 7: 343,
 8: 512,
 9: 729,
 10: 1000,
 11: 1331,
 12: 1728,
 13: 2197,
 14: 2744,
 15: 3375,
 16: 4096,
 17: 4913,
 18: 5832,
 19: 6859,
 20: 8000,
 21: 9261,
 22: 10648,
 23: 12167,
 24: 13824,
 25: 15625,
 26: 17576,
 27: 19683,
 28: 21952,
 29: 24389,
 30: 27000,
 31: 29791,
 32: 32768,
 33: 35937,
 34: 39304,
 35: 42875,
 36: 46656,
 37: 50653,
 38: 54872,
 39: 59319,
 40: 64000,
 41: 68921,
 42: 74088,
 43: 79507,
 44: 85184,
 45: 91125,
 46: 97336,
 47: 103823,
 48: 110592,
 49: 117649,
 50: 125000,
 51: 132651,
 52: 140608,
 53: 148877,
 54: 157464,
 55: 166375,
 56: 175616,
 57: 185193,
 58: 195112,
 59: 205379,
 60: 216000,
 61: 226981,
 62: 238328,
 63: 250047,
 64: 262144,
 65: 274625,
 66: 287496,
 67: 300763,
 68: 314432,
 69: 328509,
 70: 343000,
 71: 357911,
 72: 373248,
 73: 389017,
 74: 405224,
 75: 421875,
 76: 438976,
 77: 456533,
 78: 474552,
 79: 493039,
 80: 512000,
 81: 531441,
 82: 551368,
 83: 571787,
 84: 592704,
 85: 614125,
 86: 636056,
 87: 658503,
 88: 681472,
 89: 704969,
 90: 729000,
 91: 753571,
 92: 778688,
 93: 804357,
 94: 830584,
 95: 857375,
 96: 884736,
 97: 912673,
 98: 941192}